.mainDiv {
  position: relative;
  overflow: hidden;
  min-height: 700px; /* Adjust this value to control the minimum height of the component */
}

.picture {
  background-image: url("/public/photos/backgroundImg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8; /* Adjust this value to control the opacity of the background image */
  z-index: -1;
}

.header {
  font-size: 5rem; /* Adjust this value for the header font size */
  color: white;
  text-align: center;
  position: absolute;
  top: 50%; /* Center the header vertically */
  left: 50%; /* Center the header horizontally */
  transform: translate(-50%, -50%);
}

.headerSpan {
  background: var(--color-primary-with-opacity-30);
  border-radius: 10px;
  line-height: 60px;
  color: var(--color-primary);
  margin: 4px;
}

.subHeader {
  font-size: 2rem; /* Adjust this value for the subheader font size */
  color: white;
  text-align: center;
  margin-top: 20px;
}

.outerButton {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.inputGroup {
  margin-top: 60px;
  height: 50px;
}
.inputField {
  font-size: 1.5rem;
}
.inputField:focus,
.inputField:focus-visible {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: 0 0 20px 0.25rem var(--color-primary-with-opacity-30);
}
.inputBtn {
  font-size: 1.2rem;
  width: 130px;
}

/* Add additional media queries for responsiveness */
@media (max-width: 768px) {
  .header {
    font-size: 4rem;
    width: 20rem;
  }

  .subHeader {
    font-size: 1.5rem;
  }
  .inputField {
    font-size: 1rem;
  }
  .inputBtn {
    font-size: 1rem;
    width: auto;
  }
}
