.allCards {
  justify-content: space-between;
  padding-top: 80px;
}
.oneCard {
  position: relative;
  padding: 50px 30px;
  background: var(--color-primary-with-opacity);
  border-radius: 20px;
  border: 2px black;
  margin-bottom: 100px;
}
.cardImgDiv {
  position: absolute;
  top: -51px;
  left: 41.6%;
}
.cardImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.heading {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
}
.review {
  padding: 70px 0px 0px 30px;
}
.reviewBy {
  padding: 30px 30px 0px 30px;
  text-align: center;
}
.rating {
  padding: 0px 30px 0px 30px;
  text-align: center;
  font-size: xx-large;
}
