.footerArea {
  background-color: #222222;
  padding-top: 100px;
  padding-bottom: 20px;
}
.footerTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 30px;
  cursor: default;
}

.footerPara {
  color: #727272ba;
}
.numbers {
  display: block;
  color: var(--color-primary);
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: none !important;
}
.numbers:hover,
.numbers:focus {
  text-decoration: none;
  outline: none;
  color: var(--color-primary) !important;
}
.bottomDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.link {
  color: white !important;
  display: table;
  text-decoration: none;
  line-height: 30px;
}
.icon {
  width: 40px;
  transition: all 120ms ease-out;
  background-color: white;
  border-radius: 50%;
}
.icon:hover {
  z-index: 2;
  transform: scale(1.2);
}
.iconDiv {
  display: flex;
  gap: 5px;
  padding-top: 15px;
  justify-content: flex-end;
}
