.main {
  background-color: rgb(229 255 244);
  border-radius: 20px;
  margin: 20px auto;
}
.heading {
  /* background-color: #e1e1e1; */
  border-radius: 20px;
  margin: 20px 0px;
  padding-top: 10px;
  font-size: 20px;
}
.button {
  padding-bottom: 10px;
}
.mainHeading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}
