.containerX {
  margin: 50px 0px;
}
.main {
  padding: 0px 50px;
  margin: 0px 80px;
  min-height: 26rem;
}
.bg-none {
  background: none !important;
}
.icon-right {
  position: relative;
  left: 15px;
}
.icon-left {
  position: relative;
  left: 15px;
}
.title {
  padding: 10px 0px !important;
  display: flex;
  font-size: 3rem;
  margin-bottom: 24px;
  font-weight: 500;
  justify-content: center;
}
.oneCard {
  padding: 10px;
  background-color: var(--color-primary-with-opacity) !important;
  border-radius: 10px;
}
.outerDiv {
  width: 30%;
}
.img {
  border-radius: 10px;
}
.btnDiv {
  padding-top: 10px;
}
.innerDiv {
  margin-top: 1rem;
}

.btnDiv {
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .main {
    margin: 0px;
  }
}
